<div class="container text-center">
  <h2>Beatsocket</h2>
  <button class="btn btn-primary">
    <a href="/user/signUp" style="color: white;">
      <i class="fa fa-user-plus"></i>
      Signup</a>
  </button>
  <button class="btn btn-primary">
    <a href="/user/login" style="color: white;">
      <i class="fa fa-sign-in"></i>
      Login</a>
  </button>
</div>