<div class="container text-center">
  <h1>Song upload</h1>

  <div class="text-start d-flex justify-content-center p-2">
    <form
      action="/song/upload/{{user.id}}"
      method="POST"
      enctype="multipart/form-data"
    >
      <input type="hidden" name="_id" value="{{song._id}}" />

      <div class="form-group p-2">
        <label>Song Title</label>
        <input
          class="form-control"
          type="text"
          name="title"
          value="{{song.title}}"
          placeholder="Title"
        />
        <div class="form-group p-2" style="color: red;">
          {{titleError}}
        </div>
      </div>

      <div class="form-group p-2">
        <label>Song Duration</label>
        <div class="row">
          <div class="col-6">
            <input
              class="form-control"
              type="Number"
              name="durationm"
              placeholder="minutes"
            />
          </div>
          <div class="col-6">
            <input
              class="form-control"
              type="Number"
              name="durations"
              placeholder="seconds"
            />
          </div>
        </div>

      </div>

      <div class="form-group p-2">
        <label>Language : </label>
        <input
          class="form-check-input"
          type="radio"
          id="English"
          name="language"
          value="English"
        />
        <label for="English">English</label>
        <input
          class="form-check-input"
          type="radio"
          id="Hindi"
          name="language"
          value="Hindi"
        />
        <label for="Hindi">Hindi</label>
      </div>

      <div class="form-group p-2">
        <label>Genre : </label>
        <input
          class="form-check-input"
          type="radio"
          id="Rock"
          name="genre"
          value="Rock"
        />
        <label for="Rock">Rock</label>
        <input
          class="form-check-input"
          type="radio"
          id="Pop music"
          name="genre"
          value="Pop music"
        />
        <label for="Pop music">Pop music</label>
        <input
          class="form-check-input"
          type="radio"
          id="Classical"
          name="genre"
          value="Classical"
        />
        <label for="Classical">Classical</label>
        <input
          class="form-check-input"
          type="radio"
          id="Hip-Hop"
          name="genre"
          value="Hip-Hop"
        />
        <label for="Hip-Hop">Hip-Hop</label>
        <input
          class="form-check-input"
          type="radio"
          id="Popular"
          name="genre"
          value="Popular"
        />
        <label for="Popular">Popular</label>
        <input
          class="form-check-input"
          type="radio"
          id="Folk"
          name="genre"
          value="Folk"
        />
        <label for="Folk">Folk</label>
        <input
          class="form-check-input"
          type="radio"
          id="Blues"
          name="genre"
          value="Blues"
        />
        <label for="Blues">Blues</label>
        <input
          class="form-check-input"
          type="radio"
          id="Jazz"
          name="genre"
          value="Jazz"
        />
        <label for="Jazz">Jazz</label>
      </div>

      <div class="custom-file mb-3">
        <label for="file" class="custom-file-label">Upload mp3</label>
        <input
          class="form-control custom-file-input"
          type="file"
          name="file"
          id="file"
        />
      </div>

      <div class="text-center">
        <button class="btn btn-primary btn-block w-75" type="submit">
          <i class="fa fa-upload"></i>
          Upload
        </button>
      </div>

    </form>
  </div>
</div>