<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sakshya</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../CSS/dashboard.css">
</head>
<body>
    <header>
        SAKSHYA
    </header>
    <div>
        <section class="info-box">
            <img class="profile-img" src="../Images/photo.jpg">
            <div class="name">Yuzzzer Samrath</div>
            <div class="phone">2525550126</div>
            <a class="link" href="#">LogOut</a>
        </section>
        <section class="area-box">
            <h1  class="heading">Dashboard</h1>
            <div>
                <span class="option-1"> Authenticated Documents</span>
                <span class="option-2"><a href="apply.html">Apply for new Documents </a></span>
            </div>
        </section>
    </div>
</body>
</html>