<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&family=Roboto&display=swap" rel="stylesheet">

    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-app.js"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>
    <div class="h1">
        <div class="form-box">
            <div class="button-box">Log In</div>
        </div>
    </div>
    <div class="social-icons">
        <img src="glogo.png">
        <img src="fb.png">
        <img src="twitter.png" >
    </div>

    <form class="input-group">
        <input type="text" class="input-field" placeholder="User name or Email" required><br>
        <input type="text" class="input-field" placeholder="Password" required><br>
        <input type="checkbox" class="check-box"> <span>Forgot Password?</span><br>
        <button type="submit" class="login-btn">Log In</button>
    </form>


</body>
</html>

